<html>
    <head>
        <title>Pocket Tank</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="main-container">
            <div class="arena-container">
                <canvas id="arena"></canvas>
            </div>
            <div class="controller-container">
            </div>
        </div>
    </body>
    <script src="/js/utils.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/entities.js"></script>
    <script src="/js/index.js"></script>
</html>
